/* Rectificari globale */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 1.5rem;
  background: rgb(255, 255, 255);
}
h1 {
  font-size: 4rem;
  font-weight: bold;
  margin: 2rem;
  text-align: center;
}
button {
  width: 4rem;
  height: 4rem;
  margin: 1rem 1rem;
  background-color: rgb(64, 57, 145);
  color: white;
  border: none;
  border-radius: 50%;
  outline-color: white;
}
button:hover {
  background-color: rgb(62, 67, 83);
}

/* IDs */

#btn-container {
  text-align: center;
}
#btn-delete {
  background-color: rgba(220, 20, 60, 0.938);
  margin: 0;
  padding: 0;
}
#btn-delete:hover {
  background-color: rgb(59, 35, 35);
}

/* Clase */
.nav {
  position: fixed;
  bottom: 0rem;
  right: 1rem;
  width: max-content;
  background-color: #343a40;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.icon {
  font-size: 2rem;
  pointer-events: none;
}
.table .thead-dark th {
  border: none;
}
/* Animatii */

.slide-out-right {
  -webkit-animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

/* Keyframes pentru animatii */

@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}
