<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <!-- Legarea la fisierul CSS -->
    <link rel="stylesheet" href="./style/auth.css" />

    <title>Manager Studenți 🖥</title>
  </head>
  <body>
    <h1>Logare Administrator 🏆</h1>

    <div class="login-form">
      <form action="submit" class="submit">
        <label for="email">Email:</label>
        <br />
        <input type="email" class="input-email" required />
        <br />
        <label for="password">Password:</label>
        <br />
        <input
          type="password"
          autocomplete="on"
          class="input-password"
          required
        />
        <br />
        <span class="error"></span>
        <br />
        <button type="submit" class="signin">Logare Admin</button>
        <button type="submit" class="register">Inregistrare</button>
      </form>
    </div>

    <!-- Configuratii Firebase si dependencies -->
    <script src="https://www.gstatic.com/firebasejs/8.2.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.4/firebase-auth.js"></script>
    <script>
      const firebaseConfig = {
        apiKey: "AIzaSyDixZ1z_Xt1GlrqQzZRsD-l8qXeUeEn-vs",
        authDomain: "auth-pair.firebaseapp.com",
        projectId: "auth-pair",
        storageBucket: "auth-pair.appspot.com",
        messagingSenderId: "194538511576",
        appId: "1:194538511576:web:c4bffce5ad579905d94bad",
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);

      const auth = firebase.auth();
    </script>

    <!-- Bootstrap dependenciess -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>

    <script src="./scripts/auth.js" defer></script>
  </body>
</html>
